[run]
source = .
omit = 
    */test_*.py
    */Mock/*
    */__pycache__/*
    */venv/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass 